*{
    text-align: center;
}

html{
    font-size: 65%;
}

body{
    background-color: rgb(226, 226, 226);
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 4rem;
}

img{
    width: 60vw;
    padding-bottom: 40px;
}

.videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

iframe{
    width: 60vw;
    height: 400px;
}

@media screen and (max-width: 768px ) {
    html{
        font-size: 35%;
    }

    iframe{
        width: 80vw;
        height: 190px;
    }
}